/QuizEngineBE/.vs
/QuizEngineBE/QuizEngineBE/bin
/QuizEngineBE/QuizEngineBE/Logs
/QuizEngineBE/QuizEngineBE/obj
/QuizEngineFE/.vs
QuizEngineBE/QuizEngineBE/appsettings.json
QuizEngineBE/QuizEngineBE/appsettings.json
/QuizEngineBE/QuizEngineBE/appsettings.json
/QuizEngineBE/QuizEngineBE/appsettings.Development.json
/QuizEngineBE/QuizEngineBE/profiles
/QuizEngineBE/QuizEngineBE/downloaderProfilesPackagesTemplate.ps1
/QuizEngineBE/QuizEngineBE/appsettings.json
/QuizEngineBE/.editorconfig
/QuizEngineBE/QuizEngineBE.slnx
QuizEngineBE/QuizEngineBE/appsettings.json
